<div class="container home justify-content-center">
    <div class="row justify-content-center">
        <div class="col-4  text-center mb-5">
            <h1>ÚLTIMAS NOTICIAS</h1>
            <hr>
        </div>
    </div>
    
    <div class="row justify-content-center ">
        <div class="col-4">
            <mat-card class="noticias">
                <mat-card-header>
                  <div mat-card-avatar class="noticias1-image"></div>
                  <mat-card-title>Oferta</mat-card-title>
                  <mat-card-subtitle>12/08/2021</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="../../../../assets/imagenes/Noticias1.jpeg" alt="Photo of personal trainer">
                <mat-card-content>
                  <p>
                    Aprovecha la ultima oferta para apuntarte a nuestro centro de entrenamiento personal, 
                    forma parte de nuestrto gran equipo y entrena copn los mejores. 
                    Nos adaptamos a tus objetivos y ayudamos a conseguirlos, a que esperas!!!
                    Ven e informate!!
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>MÁS INFO</button>
                 
                </mat-card-actions>
              </mat-card>
              </div>
    <div class="col-4">
        <mat-card class="noticias">
          <mat-card-header>
            <div mat-card-avatar class="noticias2-image"></div>
            <mat-card-title>Nuevas Actividades</mat-card-title>
            <mat-card-subtitle>25/08/2021</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="../../../../assets/imagenes/Noticias2.webp" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              Nuevas actividades para este inicio de curso en Septiembre de 2021. 
              Si quieres ponerte en forma y mejorar tu salud tienes una gran variedad de actividades 
              y nuevas sopresas!!! Ven a conocernos y pruieba una clase gatuita. 
              No lo dudes y arranca con fuerza este Septiembre!.

            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>MÁS INFO</button>
            
          </mat-card-actions>
        </mat-card>

    </div>
    
       
    </div>

</div>