<mat-sidenav-container fullscreen>

    <mat-sidenav #sidenav
        mode="push">
        <mat-toolbar color="primary">
            <span>Mi Estudio</span>
            <span class="spacer"></span>
            <button mat-icon-button
                (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./home"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>home</mat-icon>
                <span>Home</span>
            </a>
            <a routerLink="./multimedia"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>play_circle_filled</mat-icon>
                <span>Multimedia</span>
            </a>
            <a routerLink="./actividades"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>pending_actions</mat-icon>
                <span>Actividades</span>
            </a>
            <a routerLink="./contacto"
                mat-list-item
                (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>contact_mail</mat-icon>
                <span>Contacto</span>
            </a>

        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar>
                <button mat-icon-button
                    (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer"></span>
                <h1>WOLFF FIT - ENTRENAMIENTO PERSONAL</h1>
                <span class="spacer"></span>
              
                <button mat-button
                    (click)="login()">
                    Login
                </button>
                <button mat-button>Perfil</button>
                <button mat-button>Ayuda</button>
                <button mat-button
                    (click)="logout()">
                    Log out
                </button>
           
    </mat-toolbar>
    <div class="container">
        <router-outlet></router-outlet>
        <app-home-screen></app-home-screen>
    </div>

</mat-sidenav-container>