<div *ngIf="!hidden">

  <div class="row m-5">
      <div class="col">
        <h1 class="text-white">Pagos</h1>
        <hr class="text-white">
  
      </div>
    </div>
  
    <div class="mat-elevation-z8 m-5">
      <table mat-table [dataSource]="dataSource">
    
        <!-- fechaact -->
        <ng-container matColumnDef="fechaAct" sticky>
          <th mat-header-cell *matHeaderCellDef>Fecha Cuota </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaAct | date:' dd MMMM yyyy'}} </td>
        </ng-container>
    
        <!-- fecahaCopbro -->
        <ng-container matColumnDef="fechaCobro">
          <th mat-header-cell *matHeaderCellDef> Fecha Cobro </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaCobro | date:' dd MMMM yyyy'}} </td>
        </ng-container>
    
        <!-- Tarifa -->
        <ng-container matColumnDef="tarifa">
          <th mat-header-cell *matHeaderCellDef> Tarifa </th>
          <td mat-cell *matCellDef="let element"> {{element.numActividades}} {{ element.numActividades | i18nPlural:tarifasMapa}} de {{element.nombrePeriodo }} </td>
        </ng-container>
    
        <!-- Precio -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.precio}}€ </td>
        </ng-container>
  
        <!-- Pagado -->
        <ng-container matColumnDef="pagado">
          <th mat-header-cell *matHeaderCellDef> Pagado </th>
          <td mat-cell *matCellDef="let element"> {{element.pagado}} </td>
        </ng-container>
  
    
        <!-- Acciones -->
        <ng-container matColumnDef="acciones" stickyEnd >
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let element; first as isFirst" >
            <button *ngIf="isFirst && cuotaIsActiva(element.fechaAct)" mat-icon-button matTooltip="Click to Edit" (click)="edit(element)" class="iconbutton" color="primary">
              <mat-icon>edit</mat-icon>
            </button> 
            <button *ngIf="isFirst && cuotaIsActiva(element.fechaAct)" mat-icon-button matTooltip="Click to Delete" (click)="delete(element)" class="iconbutton" color="warn">
              <mat-icon>delete</mat-icon>
            </button> 
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>

    <div class="demo-button-container float-end mt-3" >
      <button mat-raised-button  color="primary" (click)="addNew()" class="button">
        Nuevo Pago
      </button>
  
    </div>
    
</div>
  <div *ngIf="hidden">
    <app-nuevo-pago-cliente [pagoEdit]="pagoEdit" [idCliente] ="idCliente"></app-nuevo-pago-cliente>

  </div>


